.container {
  display: flex;
  flex-direction: column;
  max-height: 720px;
  flex: 1;
  min-height: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fb;
  padding: 16px 20px 0px 20px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 16px;
  letter-spacing: -0.3px;
}
.exportBtn {
  height: 38px;
  padding: 0 14px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  background: #59c241;
  color: #fff;
}

