.wrapper {
  max-width: 1000px;
  margin: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.list {
  max-height: 415px;
  overflow-y: auto;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  border-radius: 16px;
  overflow: hidden;
  background: var(--bg);
}

/* mobile */
@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
  }
}