.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1f1f1f;
  }

  a {
    display: flex;
    align-items: center;
    padding: 12px 14px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.25s ease;

    /* hover đỏ */
    &:hover {
      background: #fdecea;
      color: #e53935;
      transform: translateX(4px);
    }
  }

  /* active */
  a.active {
    background: #e53935;
    color: #fff;
    font-weight: 600;

    &:hover {
      background: #c62828;
    }
  }
}