.container {
  background: #f6f7fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* wrapper chứa sidebar + content */
.wrapper {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #eee;
  height: fit-content;

  /* sticky cho đẹp */
  position: sticky;
  top: 20px;
}

/* CONTENT */
.content {
  flex: 1;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #eee;
  min-height: 400px;
}