.wrapper {
  padding: 20px;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: #1f2937; /* xám đậm, không dùng đen */
  margin-bottom: 16px;
  letter-spacing: -0.3px;
}


.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  border-radius: 16px;
  overflow: hidden;
  background: var(--bg);
}

/* mobile */
@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
  }
}